{% extends "auctions/layout.html" %}

{% block title %}{{ closed_listing.title }}{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">

            <div class="col-12 col-lg-4">
                 <img src="{{ closed_listing.image.url }}" alt="{{ closed_listing.image }}" style="width: 18rem;">
            </div>
            <div class="col-12 col-lg-4">
                <h2>{{ closed_listing.title }}</h2><br>
                <p class="lead">Higest Bid: <strong>{{ closed_listing.highest_bid }}$</strong></p>
                <p class="lead">Closed at: <strong>{{ closed_listing.closed_at }}</strong></p>
                <p class="h5 text-primary text-uppercase">{{ message }}</p>

                {% if winner %}
                <p class="mt-4 text-uppercase"><strong>{{ winner.user }}</strong> has won the auction at the price of 
                    <strong>{{ closed_listing.highest_bid }} $</strong>.</p>
                {% endif %}
            </div>

            <!-- <div class="col-12 col-lg-4">
                <div>
                   <form action="." method="post">
                        <textarea class="form-control" name="comment" placeholder="Comment here.."></textarea>
                        <button type="submit" class="btn btn-primary float-right mt-2">Post</button>
                    </form> 
                </div>
                <br><br>
                <div class="shadow bg-white rounded-lg mt-4 px-3 ">
                    <span class="font-weight-bold">Kian</span>
                    <p>Hello, nice to meet you all.</p>
                </div>
                    
            </div> -->

        </div>
    </div>
{% endblock %}