{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Create Listings</h2>

    <form action="." method="post" enctype='multipart/form-data'>
        {% csrf_token %}

        <div class="form-group">
            <label id="title">Title</label>
            <input type="text" id="title" name="title" class="form-control">
        </div>

        <div class="form-group">
            <label id="category">Category</label>
            <input type="text" id="category" name="category" class="form-control">
        </div>

        <div class="form-group">
            <label id="description">Description</label>
            <textarea id="description" name="description" class="form-control" placeholder="Type your description here.."></textarea>
        </div>

        <div class="form-group">
            <label id="starting_bid">Starting Bid</label>
            <input type="number" id="starting_bid" name="starting_bid" class="form-control">
        </div>

        <div class="form-group">
            <label id="image">Image</label>
            <input type="file" id="image" name='image' class="form-control-file">
        </div>

        <button type="submit" class="btn btn-primary">Create</button>
        
    </form>
{% endblock %}