{% extends "auctions/layout.html" %}

{% block title %}{{ listing.title }}{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">

            <div class="col-12 col-lg-4">
                 <img src="{{ listing.image.url }}" alt="{{ listing.image }}" style="width: 18rem;">
            </div>
            <div class="col-12 col-lg-4">
                <h2>{{ listing.title }}</h2><br>
                <p ><strong>Price: </strong>{{listing.starting_bid }} $</p>
                <p><strong>Category: </strong>{{listing.category }}</p>
                <p><strong>Description: </strong>{{listing.description }}</p>
                <p><strong>Creted at: </strong>{{listing.created_at }}</p>
                <p><strong>Listed by: </strong>{{listing.lister }}</p>

            </div>
        </div>
    </div>
   
  
{% endblock %}